In [16]:
import mysql.connector as sql

connection = sql.connect(
    host="localhost",
    user="root",
    password="root",
    # database="pukar"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014D51FDE750>

In [17]:
# Create a Database Connection

cursor = connection.cursor()

In [18]:
# Day 1 Questions lists:
# 1. Create a database named "Esewa"

# 2. Create a table named "users" with the following columns:
#     - id (int, auto increment, primary key)
#     - username (varchar, unique)
#     - password (varchar)
#     - email (varchar, unique)
#     - created_at (datetime)
#     - updated_at (datetime)

# 3. Insert the following data into the users table:
#     - username: admin, password: admin, email:
#     - username: user, password: user, email:
#     - username: test, password: test, email:
#     - username: demo, password: demo, email:

In [19]:
#Q1. Create a database named "Esewa"

cursor.execute("CREATE DATABASE IF NOT EXISTS Esewa")

In [20]:
cursor.execute("USE Esewa")

In [21]:
#Q2. Create a table named "users" with the following columns:
#     - id (int, auto increment, primary key)
#     - username (varchar, unique)
#     - password (varchar)
#     - email (varchar, unique)
#     - created_at (datetime)
#     - updated_at (datetime)

cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY, 
    username VARCHAR(255) UNIQUE, 
    password VARCHAR(255), 
    email VARCHAR(255) UNIQUE, 
    created_at DATETIME,
    updated_at DATETIME
)
""")

In [25]:
# #3. Insert the following data into the users table:
# #     - username: admin, password: admin, email:
# #     - username: user, password: user, email:
# #     - username: test, password: test, email:
# #     - username: demo, password: demo, email:

# # cursor.execute("INSERT INTO users (username, password) VALUES ('admin', 'admin')")
# cursor.execute("INSERT INTO users (username, password) VALUES ('user', 'user')")
# cursor.execute("INSERT INTO users (username, password) VALUES ('test', 'test')")
# cursor.execute("INSERT INTO users (username, password) VALUES ('demo', 'demo')")
# connection.commit()

In [24]:
# Show the data from the users table
cursor.execute("SELECT * FROM users")
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'admin', 'admin', None, None, None)
(2, 'user', 'user', None, None, None)
(3, 'test', 'test', None, None, None)
(4, 'demo', 'demo', None, None, None)